<div class="col-sm-8">
    <h2>Configuration / Setup Documentation</h2>
    <h4>These options are all found in the <b>DZAP_config.sqf</b> file in the root of your mission PBO</h4>
    <hr>
    <div ng-repeat="mod in addon.mods" id="{{$index}}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{mod.config.title}}</h4>
            </div>
            <div class="panel-body">
                {{mod.config.desc}}
            </div>
            <div accordion="" close-others="true" class="col-sm-12">
                <div ng-repeat="setting in mod.config.settings">
                    <div accordion-group="" is-open="setting.open">
                        <div accordion-heading="">
                            <div tooltip="{{setting.desc}}" tooltip-placement="left">
                                {{setting.name}}
                                <i class="pull-right fa" ng-class="{'fa-chevron-down': setting.open, 'fa-chevron-right': !setting.open}"></i>
                            </div>
                        </div>
                        <small>{{setting.desc}}</small>
                        <hr>
                        <div tabset="">
                            <div tab="" heading="Sample">
                                <br>
                                {{setting.sampleDesc}}
                                <hr>
                                <div hljs source="setting.sample.join('\n')"></div>
                            </div>
                            <div tab="" heading="Format">
                                <br>
                                <div hljs source="setting.format.join('\n')"></div>
                            </div>
                            <div tab="" heading="Parameters" ng-if="setting.params">
                                <div>
                                    <hr>
                                    <table class="table table-responsive table-striped table-bordered">
                                        <thead>
                                            <th>Parameter</th>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th>Example</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="param in setting.params">
                                                <td>{{param.name}}</td>
                                                <td>{{param.desc}}</td>
                                                <td>{{param.type}}</td>
                                                <td>{{param.example}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix" style="padding-bottom: 750px;"></div>
</div>
<div class="col-sm-2">
    <div class="affix">
        <a href="{{addon.downloadLink}}" target="_blank" class="btn btn-success btn-block">
            <i class="fa fa-download"></i>
            Download DZAP
        </a>
        <hr>
        <h3 class="text-center">Mod Configuration</h3>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: isAddonSelected($index)}" ng-repeat="mod in addon.mods" tooltip-html-unsafe="{{mod.desc[0]}}" tooltip-append-to-body="true" tooltip-placement="right" ng-click="scrollTo($index);"><a href="">{{mod.name}}</a></li>
        </ul>
        <hr>
        <a ng-click="scrollTop()" class="btn btn-default btn-block">To Top <i class="fa fa-level-up"></i></a>
    </div>
</div>